

.fondo {
  background: beige;
  text-align: center;
}
.tabla{
    text-align: center;
}

.enlace {
  background-color: #3669f4;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}



